<div class="container assign-container">
    <a href="#!/home">Back</a>
    <div class="col-lg 12">
        <div class="col-lg-6 form-control" style="height:40vh;margin:calc(10% - 20px) auto;width: calc(45%);margin-right: 20px;margin-left:50px;margin-bottom:15px;">
            <label class="view-device-label">Select Device</label>
            <select class="form-control" ng-model="device.make" ng-options="asset.make for asset in assets" style="display: inline;margin-top: 15px;width: 60%;"></select>
            </br>
            <div class="col-lg-3 form-control" style="height: 15vh;width: calc(60%);margin-left: 38%;margin-top: 5vh;">
                {{device.make}}
            </div>


        </div>
        <div class="col-lg-6 form-control" style="height:40vh;margin:calc(10% - 20px) auto;width: calc(45%);margin-bottom:15px;">
            <label class="view-device-label">Select Employee</label>
            <select class="form-control" ng-model="device.type" ng-options="asset.type for asset in assets" style="display: inline;margin-top: 15px;width: 60%;"></select>
            <div class="col-lg-3 form-control" style="height: 15vh;width: calc(60%);margin-left: 38%;margin-top: 5vh;">
                {{device.type}}
            </div>
        </div>
        <button class="btn btn-primary" style="margin-top:25px;margin-bottom: 25px;">Assign</button>
    </div>
</div>
