<header>
  <h1 style="text-align: center;color: #DADFE1;">Asset Management using Blockchain's</h3>
</header>

<div class="container menu-container">
  <span class="menu-item"><a href="#!/viewAsset">View Assets</a></span>
  <span class="menu-item"><a href="#!/addAsset">Add Asset</a></span>
  <span class="menu-item"><a href="#!/assignAsset">Assign Asset</a></span>
  <span class="menu-item"><a href="#!/returnAsset">Return Asset</a></span>

</div>
<button ng-click="send()" ng-if="false">Send</button>