<div class="container menu-container">
  <!--<div class="input-group col-md-3">
  <span class="input-group-addon" id="basic-addon1">Customer</span>
  <input type="text" class="form-control" placeholder="Customer Name" ng-model="ledger.name">
</div>-->
  <span class="menu-item"><a href="#!/viewAsset">View Assets</a></span>
  <span class="menu-item"><a href="#!/addAsset">Add Asset</a></span>
  <span class="menu-item"><a href="#!/assignAsset">Assign Asset</a></span>
  <span class="menu-item"><a href="#!/returnAsset">Return Asset</a></span>

</div>
<button ng-click="send()">Send</button>