<div class="container view-container" style="padding-top: 50px;">
    <a href="#!/home" >Back</a>
    <div class='col-lg 12' style="min-height: 25px;">
        </div>
    <div class='col-lg 12' style="background-color: #fff;">
        <table>
            <tr>
                <th>Asset Type</th>
                <th>Make</th>
                <th>Model</th>
                <th>Serial No</th>
                <th>Assigned To</th>
            </tr>
            <tr ng-repeat="asset in assetContainer">
                <td>{{asset.type}}</td>
                <td>{{asset.make}}</td>
                <td>{{asset.model}}</td>
                <td>{{asset.serialNo}}</td>
                <td><span ng-if="asset.empId.length > 0">{{asset.empId}}</span><span ng-if="asset.empId.length == 0">None</span></th>
            </tr>
        </table>
    </div>

</div>